header{
    position:fixed;
    top:0;
    left:0;
    width:90%;
    height:10vh;
    padding:0 5vw;
    background-color: aqua;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
section{
    left:0;
    margin-top:5vh;
    display:flex;
}
.index{
    width:10vw;
    background-color: rgb(212, 183, 145);
}
nav{
    display:block;
    text-align:center;
    padding-top:5%;
}
nav a{
    display:block;
    padding:10px;
    text-decoration:none;
}
.main{
    width:90vw;
    background-color: rgb(249, 233, 183);
    padding:0 3%;
}
.theme{
    border-bottom: 1px solid black;
    padding:0 2vw;
}
.qustions{
    padding:10px;
    border-bottom: 1px solid gray;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.id{
    margin:0 1vw;
}
#delete-btn{
    width:5vw;
    height:4vh;
    margin:0 2vw;
}
label{
    padding-bottom:2%;
}
input{
    margin-top:3vh;
    height:35px;
}
.answer{
    height:auto;
}
#content,
#exp{
    width:100%;
}
.choices{
    width:33%;
}
button{
    width:10%;
    height:35px;
    background-color:aqua;
    color:white;
}
button:hover{
    background-color:deepskyblue;
    cursor:pointer;
}

.signin{
    width:100vw;
    height:100vh;
    background-color: rgb(249, 233, 183);
    padding:3%;
}

.sign{
    width:80%
}

